
body{
  background:  rgba(180, 178, 178, 0.274);
}

h1 {
  font-size: 3vw;
}

label, p{
  font-size: 3vw;
}

.grid-wrapper {
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3 auto);
  grid-gap: 1.5rem;
}

.grid-wrapper>div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  border: 1px solid royalblue;
}

.grid-wrapper>.form{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: repeat(6, auto);
}

.grid-wrapper>.form>label{
  grid-column: 2 / 4;
}

input{
  font-size: 2rem;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

input[type="checkbox"] {
  width: 50px;
  height: 50px;
}

.action-btn{
  grid-column: 1 / 4;
  background-color: rebeccapurple;
  color: goldenrod;
  font-size: 2rem;
  overflow: auto;
}

.hide{
  display: none;
}

.isDone{
  color: red;
  font-weight: 800;
}